CONTENT_TYPE=text/plain; charset=UTF-8
LANG=ja_JP.UTF-8
REC=/var/www/html/rrs/rec.py
RRS=/var/www/html/rrs
11 01 * * 1    sudo /home/pi/rpi-clone/rpi-clone sda -U
20 07 * * 6    sleep 25;cd $RRS/r;$REC FM 100 'Weekend Sunshine' '' '\%m\%dWeekendSunshine'
00 09 * * 6    sleep 25;cd $RRS/r;$REC FM 115 'World Comfort Selection' '' '\%m\%dComfortSelection'
00 16 * * 6    sleep 25;cd $RRS/r;$REC FM 120 'Radioman Jack' '' '\%m\%dRadiomanJack'
00 18 * * 6    sleep 25;cd $RRS/r;$REC FM  50 'The Soul Music' '' '\%m\%dTheSoulMusic'
00 22 * * 6    sleep 25;cd $RRS/r;$REC FM  50 Theater
00 23 * * 6    sleep 25;cd $RRS/r;$REC FM 120 'Jazz Tonight' '' '\%m\%dJazzTonight'
00 09 * * 7    sleep 25;cd $RRS/r;$REC FM 115 Library '' '\%m\%dLibrary'
00 16 * * 7    sleep 25;cd $RRS/r;$REC FM  60 YGD '' '\%m\%dYGD'
00 21 * * 7    sleep 25;cd $RRS/r;$REC FM  60 Discover '' '\%m\%dDiscover'
00 23 * * 1    sleep 25;cd $RRS/r;$REC FM  50 'Mellow Nights' '' '\%m\%dMellowNights'
00 23 12-16 * * sleep 25;cd $RRS/r;$REC FM  60 'CrossOver11' '' '\%m\%dCrossOver11'
00 00 * * 2-6  sleep 25;cd $RRS/r;$REC FM  50 Playlist '▽' '\%m\%dPlaylist{}'
00 18 * * 1-5  sleep 25;cd $RRS/r;$REC FM  50 Playlist '▽「' '\%m\%dPlaylist{}'
30 09 * * 1-3  sleep 25;cd $RRS/o;$REC R2  15 'お話出てこい' '「' '{}\%m\%d'
0 0-21/3 * * * sleep 25;cd $RRS/t;$REC FM 0 testFM '「' '\%m\%d\%H\%M\%S{}'
0 1-22/3 * * * sleep 25;cd $RRS/t;$REC R1 0 test1R '「' '\%m\%d\%H\%M\%S{}'
0 2-23/3 * * * sleep 25;cd $RRS/t;$REC R2 0 test2R '「' '\%m\%d\%H\%M\%S{}'
#@reboot cat /proc/cpuinfo
# sudo ln -sf /usr/bin/vim /etc/alternatives/editor
# sudo /etc/init.d/rsyslog restart
#@reboot sleep 300; sudo poweroff
#* * * * * ip a | grep global | logger -p cron.info
